# Base requirements for ssm

argo-ams-library
pyopenssl<23.3.0  # 23.3.0 dropped support for Python 3.6
cryptography<41.0.0  # 41.0.0 dropped support for Python 3.6
stomp.py<8.1.1  # 8.1.1 dropped suppot for Python 3.6
python-daemon
setuptools  # Required for pkg_resources

# Dependencies for optional dirq based sending
dirq
