################################################################################
# Required: broker configuration options
#

[broker]

# The SSM will query a BDII to find brokers available.  These details are for the 
# EGI test broker network
bdii: ldap://lcg-bdii.cern.ch:2170
network: TEST-NWOB
# OR (these details will only be used if the broker network settings aren't used)
#host: test-msg01.afroditi.hellasgrid.gr
#port: 6163

# broker authentication.  If use-ssl is set, the certificates configured
# in the mandatory [certificates] section will be used. 
use_ssl: false

################################################################################
# Required: Certificate configuration

[certificates]
certificate: /etc/grid-security/hostcert.pem
key: /etc/grid-security/hostkey.pem
capath: /etc/grid-security/certificates

################################################################################
# Messaging configuration.
#
[messaging]

# Destination to which SSM will listen.
destination: /queue/ssm2test

# Accepted messages will be written to <path>/incoming
# Rejected messages will be written to <path>/reject
path: /var/spool/apel

[logging]
logfile: /var/log/apel/ssmreceive.log
level: INFO
console: false

[daemon]
pidfile: /var/run/apel/ssmreceive.pid
