[receiver]
# Either 'STOMP' for STOMP message brokers or 'AMS' for Argo Messaging Service
protocol: STOMP

[broker]
# 'host' and 'port' must be set manually. 
# This option must be used.  LDAP broker search is now removed.
host: 
port: 

# broker authentication.  If use_ssl is set, the certificates configured
# in the mandatory [certificates] section will be used.
use_ssl: true

[certificates]
certificate: /etc/grid-security/hostcert.pem
key: /etc/grid-security/hostkey.pem
capath: /etc/grid-security/certificates
check_crls: false

[messaging]
# If using AMS this is the project that SSM will connect to. Ignored for STOMP.
ams_project:

# Destination to which SSM will listen.
destination: /queue/ssm2test

# Accepted messages will be written to <path>/incoming
# Rejected messages will be written to <path>/reject
path: /var/spool/apel

[logging]
logfile: /var/log/apel/ssmreceive.log
level: INFO
console: false

[daemon]
pidfile: /var/run/apel/ssmreceive.pid
