################################################################################
# Required: broker configuration options
#

[broker]

# The SSM will query a BDII to find brokers available.  These details are for the 
# EGI production broker network
bdii: ldap://lcg-bdii.cern.ch:2170
network: PROD
# OR (these details will only be used if the broker network settings aren't used)
#host: test-msg01.afroditi.hellasgrid.gr
#port: 6163

# broker authentication.  If use_ssl is set, the certificates configured
# in the mandatory [certificates] section will be used. 
use_ssl: true


################################################################################
# Required: Certificate configuration

[certificates]
certificate: /etc/grid-security/hostcert.pem
key: /etc/grid-security/hostkey.pem
capath: /etc/grid-security/certificates
# If this is supplied, outgoing messages will be encrypted
# using this certificate
#server_cert: /etc/grid-security/servercert.pem

################################################################################
# Messaging configuration.
#
[messaging]

# Queue to which SSM will send messages
destination: 

# Outgoing messages will be read and removed from this directory.
path: /var/spool/apel/outgoing

[logging]
logfile: /var/log/apel/ssmsend.log
# Available logging levels:
# DEBUG, INFO, WARN, ERROR, CRITICAL
level: INFO
console: true
